/*
Theme Name: Prakticni Saveti 2020
Description: Child theme for TwentyTwenty
Author: Aleksandar Jakovljevic
Author URI: https://aleksandarjakovljevic.com
Version: 1.0.0
Template:     twentytwenty
Text Domain:  twentytwenty
*/

body {
    font-family: 'Helvetica Neue',Helvetica,'Segoe UI',Arial,sans-serif;
}

a {
    color: #00a79d;
}