body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
    color: #a0ce4e;
}

body:not(.singular) main > article.istaknut_post:first-of-type {
    padding: 0;
}

main {
    width: 1070px;
    margin: 0 auto;
}

.psaveti2020-istaknuti-red article,
.psaveti2020-archive-column article {
    position: relative;
    padding: 0;
}

.psaveti2020-archive-column {
    padding: 10px;
}

.psaveti2020-archive-column:first-child {
    padding-left: 0;
}

.psaveti2020-archive-column:last-child {
    padding-right: 0;
}

.psaveti2020-istaknuti-red article .featured-media,
.psaveti2020-archive-column article .featured-media {
    margin-top: 0;
}

.psaveti2020-istaknuti-red article header,
.psaveti2020-archive-column article header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(70,70,70,0.3);
    color: #ffffff;
}

.psaveti2020-archive-column article header {
    background-color: rgba(70,70,70,0.7);
}

.psaveti2020-istaknuti-red article header a,
.psaveti2020-archive-column article header a {
    color: #ffffff;
}

.psaveti2020-istaknuti-red article .featured-media-inner.section-inner,
.psaveti2020-archive-column article .featured-media-inner.section-inner {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.post-meta .post-author {
    display: none;
}


.psaveti2020-page-wrapper {
    margin: 15px;
}

.psaveti2020-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.psaveti2020-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.psaveti2020-istaknuti-red h2.entry-title {
    margin-bottom: 2rem;
}

.psaveti2020-istaknuti-red .entry-categories {
    margin-top: 2rem;
}

.psaveti2020-archive-row h2.entry-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.psaveti2020-archive-row .entry-categories {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.psaveti2020-archive-row .entry-categories a {
    font-size: 1rem;
}

.psaveti2020-archive-row .post-meta-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.psaveti2020-archive-column .featured-media img {
    margin: 0;
    width: 100%;
}

.singular .featured-media-inner {
    left: auto;
    width: calc(100% - 8rem);
}