@media ( max-width: 479px ) {
    main {
        width: 100%;
    }
    .psaveti2020-istaknuti-red article header {
        font-size: 60%;
    }

    .psaveti2020-istaknuti-red article header .heading-size-1 {
        font-size: 2.6rem;
    }
    .psaveti2020-istaknuti-red article header .entry-categories a {
        font-size: 1rem;
    }
    .psaveti2020-istaknuti-red article header .entry-categories {
        margin-bottom: 1rem;
    }
    .psaveti2020-istaknuti-red article header .post-meta-wrapper {
        margin-top: 1rem;
    }

    .psaveti2020-row {
        display: block;
    }
    .psaveti2020-column {
        display: block;
    }

    .psaveti2020-archive-column {
        padding: 10px 0;
    }


}