/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

.fusion-page-title-bar { display: none; }

/* WP Recipe Maker */
.wprm-recipe-template-basic { background: none !important; padding: 0 !important; margin: 0 !important; }
.wprm-recipe-block-container-columns .wprm-recipe-details-label { min-width: 160px !important; }